# Dependencies
node_modules/
.pnpm-store/

# Turborepo
.turbo/

# Next.js build output
.next/
out/

# Build outputs
dist/
build/

# Coverage
coverage/
*.lcov

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System Files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
